.inputsearch2 {
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    background-color: #eeeeee;
    border: 2px solid orange;
    margin-top: 10px;
    display: inline;
    width: 350px;
}

.searchButton2{ 
    margin-right: 10px;
    margin: 2px;
    margin-bottom: 10px;
    width: 100px;
    height: 40px;
    background: orange;  
    border-radius: 5px;
    transition-duration: 0.4s;
    color: black;
}

.searchButton2:hover{
    cursor: pointer;
    color: white;    
}

.imageDelete2 {
    width: 50%;
    height: 50%;
}