.menu {
  display: flex;
  justify-content: center;
  font-size: 35px;
  color: black;
  font-family: 'Andy';
  transition-duration: 0.4s
}
.menu:hover{
  color: white;
  }
  
.topDiv {
  overflow: hidden;
  height: 120px;
  background-color: orange;
}
  